  {% if STYLE3_CATEGORY %}
				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>{{ STYLE3_TITLE }}</h2>
							</header>
							<ul class="features">
							  {% set recent = articles if not all_articles else all_articles %}
							  {% for article in recent if article.category.name == STYLE3_CATEGORY %}
							      {% if loop.index <= 6 %}
							          <li class="icon fa-{{ article.icon }}">
									<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
									{{ article.summary}}
								  </li>
							      {% endif  %}
							   {% endfor %}
							</ul>
						</div>
					</section>

{% endif %}
